{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/test_task/src/Controller/BookController.php'|file_link(0) }}">src/Controller/BookController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/test_task/templates/book/index.html.twig'|file_link(0) }}">templates/book/index.html.twig</a></code></li>
    </ul>
    <table>
        <thead>
            <tr>
                <th class="tc">ID</th>
                <th class="tc">Название</th>
                <th class="tc">Год</th>
                <th class="tc">Автор</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
              <tr>
                  <td><a href="{{ path('book_edit',{id: book.id}) }}">{{ book.id }}</a></td>
                  <td>{{ book.name }}</td>
                  <td>{{ book.year }}</td>
                  <td>{{ book.author }}</td>
              </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('book_create') }}">Добавить книгу</a>
</div>
{% endblock %}
